@model SampleService.Models.ServiceActionModel

@{ 
    Layout = "_Layout";

    Model.Subject = "Service status change 🤨";
}

<p>Current service action: @Model.ActionName. Executed at @Model.Timestamp</p>